{% extends 'boards/base.html' %}
{% block title %}sys/post/{{ post.board.ln }}/{{ post.pk }}/delete{% endblock title %}
{% block content %}
    <div><strong>Deleting post:</strong></div>
    {% include 'boards/incl/sys_post.html' %}
    <form hx-boost="true" class="deletepostform" id="deletepostform" method="post">{% csrf_token %}
        <input type="submit" value="Submit">
        <span class="text-submit">[<a href="#" onclick="document.getElementById('deletepostform').submit(); return false;">Delete</a>]</span>
        <span>[<a href="{{ post.get_absolute_url }}" hx-boost="true">Abort</a>]</span>
    </form>
{% endblock content %}
