{% extends 'boards/base.html' %}
{% block title %}/{{ board.ln }}/{% endblock title %}
{% block content %}
    <div id="board">
        <h2 id="board-header">/{{ board.ln }}/ - {{ board.name }}</h2>
        {% if board.description %}
            <p id="board-description">{{ board.decription }}</p>
        {% endif %}
    </div>
    <details>
        <summary>[New Thread]</summary>
        <form hx-bost="true" class="newpostform" id="newthreadform" enctype="multipart/form-data" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
            <span class="text-submit">[<a href="#" onclick="document.getElementById('newthreadform').submit(); return false;">Submit</a>]</span>
        </form>
    </details>
    <div id="threads">
        <h3 id="threads-header">Threads</h3>
        {% include 'boards/incl/threads_list.html' %}
    </div>
{% endblock content %}
