{% extends 'boards/base.html' %}
{% load cache %}
{% load post_render %}
{% load thumbnail %}
{% block title %}/{{ board.ln }}/{{ thread.pk }}/:{{ thread.subject }}{% endblock title %}
{% block content %}
    <div id="board">
        <h2 id="board-header">/{{ board.ln }}/ - {{ board.name }}</h2>
    </div>
    <div id="top"></div>
    [<a href="{% url 'board' board.ln %}" hx-boost="true"
        hx-trigger="click, keyup[altKey&&key=='r'] from:body">Return</a>]
    [<a href="#bottom">Bottom</a>]
    {% include 'boards/incl/htmx_hx_update.html' %}
    [Replies: {{ thread.post_set.all.count }}]
    <div class="thread">
        {% cache 500 thread_op thread.pk %}
        <div class="row op" id="p{{ thread.pk }}">
            <div class="row headline">
                <p>{% if thread.subject %}<span class="subject">{{ thread.subject }}</span>{% endif %}
                    <span class="author">{{ thread.author }}</span>
                    {% if thread.tripcode %}<span class='tripcode'>!{{ thread.tripcode }}</span>{% endif %}
                    posted at {{ thread.timestamp }}
                    <span class="pk">#{{ thread.pk }}</span></p>
            </div>
            <div class="row content">
                {% if thread.image %}
                    {% thumbnail thread.image "x300" as im %}
                    <div class="one-third column">
                        <span class="image"><a href="{{ thread.image.url}}"><img src="{{ im.url }}"></a></span>
                    </div>
                    {% endthumbnail %}
                    <div class="two-thirds column">
                        <span class="post-text"><p>{% post_render thread.pk thread.text %}</p></span>
                    </div>
                {% else %}
                    <span class="post-text"><p>{% post_render thread.pk thread.text %}</p></span>
                {% endif %}
            </div>
        </div>
        {% endcache %}
        {% for post in replies %}
            {% cache 500 reply post.pk %}
                {% include 'boards/incl/reply.html' %}
            {% endcache %}
        {% endfor %}
    </div>
    [<a href="{% url 'board' board.ln %}" hx-boost="true">Return</a>]
    [<a href="#top">Top</a>]
    [<a href="#"
        hx-get="{{ request.get_full_path }}"
        hx-select=".thread"
        hx-target=".thread">Update</a>]
    <br><br>
    <div id="bottom"></div>
    <details open>
        <summary>[New Reply]</summary>
        <form hx-boost="true" class="newpostform" id="newreplyform" enctype="multipart/form-data" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
            <span class="text-submit">[<a href="#" onclick="document.getElementById('newreplyform').submit(); return false;">Submit</a>]</span>
        </form>
    </details>
{% endblock content %}
