{% load post_render %}
{% load thumbnail %}
<div class="row reply" id="p{{ post.pk }}">
    <div class="row headline" hx-boost="true">
        <p><span class="author">{{ post.author }}</span>
            {% if post.tripcode %}<span class='tripcode'>!{{ post.tripcode }}</span>{% endif %}
            posted at {{ post.timestamp }}
            {% if request.resolver_match.view_name != 'thread' %}
                <span class="pk">#{{ post.pk }}</span>
            {% else %}
                <span class="pk"><a href="javascript:quote('{{ post.pk }}');">#{{ post.pk }}</a></span>
            {% endif %}
            <details><summary class="inline">[+]</summary>
                [<a href="{{ post.get_delete_url }}">Delete</a>]
                [<a href="{{ post.get_report_url }}">Report</a>]
            </details>
        </p>
    </div>
    {% if post.image %}
        <div class="row info">
            <span>Size: {{ post.image.width }}x{{ post.image.height }}</span> |
            <span class="ellipsis">File: {{ post.filename }}</span>
        </div>
    {% endif %}
    <div class="row content">
        {% if post.image %}
            {% thumbnail post.image "x300" as im %}
            <div class="one-third column">
                <span class="image"><a href="{{ post.image.url}}"><img src="{{ im.url }}"></a></span>
            </div>
           {% endthumbnail %}
            <div class="two-thirds column">
                <span class="post-text"><p>{% post_render post.thread.pk post.text %}</p></span>
            </div>
        {% else %}
            <span class="post-text"><p>{% post_render post.thread.pk post.text %}</p></span>
        {% endif %}
    </div>
</div>
