{% load cache %}
{% load post_render %}
{% load thumbnail %}
{% for thread, replies in posts.items %}
    <div class="thread">
        <div class="row op" id="t{{ thread.pk }}">
            {% cache 500 thread_list_op thread.pk %}
            <div class="row headline">
                <p>{% if thread.subject %}<span class="subject">{{ thread.subject }}</span>{% endif %}
                    <span class="author">{{ thread.author }}</span>
                    {% if thread.tripcode %}<span class='tripcode'>!{{ thread.tripcode }}</span>{% endif %}
                    posted at {{ thread.timestamp }}
                    {% if not board %}on <span class="board">/{{ thread.board.ln }}/</span>{% endif %}
                    <span class="pk">#{{ thread.pk }}</span></p>
            </div>
            <div class="row content">
                {% if thread.image %}
                    {% thumbnail thread.image "x300" as im %}
                    <div class="one-third column">
                        <span class="image"><a href="{{ thread.image.url}}"><img src="{{ im.url }}"></a></span>
                    </div>
                    {% endthumbnail %}
                    <div class="two-thirds column">
                        <span class="post-text"><p>{% post_render thread.board.ln thread.text %}</p></span>
                    </div>
                {% else %}
                    <span class="post-text"><p>{% post_render thread.board.ln thread.text %}</p></span>
                {% endif %}
            </div>
            {% endcache %}
            <p>[Replies: {{ thread.post_set.all.count }}] [<a href="{% url 'thread' thread.board.ln thread.pk %}">Visit</a>]</p>
        </div>
        {% for post in replies %}
            {% cache 500 reply post.pk %}
                {% include 'boards/incl/reply.html' %}
            {% endcache %}
        {% endfor %}
    </div>
{% empty %}
    <p>No threads yet.</p>
{% endfor %}
