{% extends 'base.html' %}
{% block header %}
    <title>djangochan:/{{ board.ln }}/</title>
{% endblock header %}
{% block content %}
    <div id="board">
        <h2 class="board-header">/{{ board.ln }}/ - {{ board.name }}</h2>
        {% if board.description %}
            <p>{{ board.decription }}</p>
        {% endif %}
    </div>
    <div class="threads-section" id="threads">
        <form id="newthreadform" enctype="multipart/form-data" method="post">{% csrf_token %}
            <strong>[New Thread]</strong>
            {{ form.as_table }}
            <!-- <input type="submit" value="Submit"> -->
            <br>
            [<a href="#" onclick="document.getElementById('newthreadform').submit(); return false;">Submit</a>]
        </form>
        <h3 class="threads-header">Threads</h3>
        {% include 'core/incl/threads_list.html' %}
    </div>
{% endblock content %}
