{% extends 'core/base.html' %}
{% block title %}/{{ board.ln }}/{% endblock title %}
{% block content %}
    <div id="board">
        <h2 id="board-header">/{{ board.ln }}/ - {{ board.name }}</h2>
        {% if board.description %}
            <p id="board-description">{{ board.decription }}</p>
        {% endif %}
    </div>
    <div id="threads">
        <details>
            <summary>[New Thread]</summary>
            <form class="newpostform" id="newthreadform" enctype="multipart/form-data" method="post">{% csrf_token %}
                {{ form.as_p }}
                <!-- <input type="submit" value="Submit"> -->
                [<a href="#" onclick="document.getElementById('newthreadform').submit(); return false;">Submit</a>]
            </form>
        </details>
        <h3 id="threads-header">Threads</h3>
        {% include 'core/incl/threads_list.html' %}
    </div>
{% endblock content %}
