{% extends 'base.html' %}
{% block header %}
    <title>Djangochan > /{{ board.ln }}/ > {{ thread.subject }}</title>
{% endblock header %}
{% block content %}
    <h2>/{{ board.ln}}/ - {{ board.name }}</a></h2>
    <div id="top"></div>
    [<a href="{% url 'board' board.ln %}">Return</a>] [<a href="#button">Bottom</a>]
    <div id="thread">
        <p><strong>{{ thread.author }}</strong> posted at {{ thread.timestamp }} <a href="#{{ thread.pk }}">#{{ thread.pk }}</a></p>
        <p>{{ thread.text | safe }}</p>
        {% for post in posts %}
            <div id="{{ post.pk }}">
                <p><strong>{{ post.author }}</strong> posted at {{ post.timestamp }} <a href="#{{ post.pk }}">#{{ post.pk }}</a></p>
                {% if post.image %}
                    <a hred="{{ post.image.url}}"><img src="{{ post.image.thumbnails.small.url }}"></a>
                {% endif %}
                <p>{{ post.text | safe }}</p>
            </div>
        {% endfor %}
    </div>
    [<a href="{% url 'board' board.ln %}">Return</a>] [<a href="#top">Top</a>]<br><br>
    <div id="bottom"></div>
    <form id="newreplyform" method="post">{% csrf_token %}
        <strong>[New Reply]</strong>
        {{form.as_table }}
        <!-- <input type="submit" value="Submit"> -->
        <br>
        [<a href="#" onclick="document.getElementById('newreplyform').submit(); return false;">Submit</a>]
    </form>
{% endblock content %}
