{% load static %}
{% load settings_value %}
<!doctype html>
<html lang="en">
    <head>
        {% block header %}{% endblock %}
        <meta name="description" content="{% settings_value 'SITE_DESCRIPTION' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css">
        <link rel="stylesheet" href="https://unpkg.com/skeleton.css/skeleton.css">
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css">
        <link rel="stylesheet" href="{% static 'css/mylittlechan.css' %}">
        <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/>
        <script type="text/javascript" src="{% static 'js/mylittlechan.js' %}" defer></script>
    </head>
    <body>
        <div class="container">
            <div class="header">
                {% if request.resolver_match.view_name != 'index' %}
                    [<a href="{% url 'index' %}">Index</a>]
                {% else %}
                    <!-- TODO: add those in database -->
                    <h1 id="site-title">{% settings_value 'SITE_TITLE' %}</h1>
                    <p id="site-description">{% settings_value 'SITE_DESCRIPTION' %}</p>
                    <p id="site-issue">{% include 'site_issue.html' %}</p>
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
        <div id="viewimage" onclick="this.style.display='none';"></div>
    </body>
</html>
