Under development.
Server will be reset daily at midnight.
<strong>Notes:</strong>
(i) very basic theming,
(ii) no Ajax support,
(iii) no in-site mod utilities (del, edit, warm, ban).
<strong>Currently work:</strong>
* text formatting via BBcode,
* tripcodes "username#password",
* math captcha,
* sticky,
* sage,
* quotes,
* linking,
<strong>Planning:</strong>
* pagination,
* style selection,
* secure tripcodes,
<strong>Fin:</strong>
When considered essential functionality expected
from a chan-style board has been implemented.
